@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@model IEnumerable<EmployeeToReturnDto>


<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create Employee</a>
<br />
<br />
<form asp-action="Index" method="get" class="mt-5 row justify-content-center">
    <div class="hom col-8">
        <div class="col-8">
            <input type="text" name="search" class="form-control" id="searchInp" placeholder="Search By Name" value="@ViewData["SearchQuery"]" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
</form>
@if (Model is not null && Model.Count() > 0)
{
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.ID)</th>
            <th>@Html.DisplayNameFor(e => e.Name)</th>
            <th>@Html.DisplayNameFor(e => e.Age)</th>
            <th>@Html.DisplayNameFor(e => e.Adress)</th>
            <th>@Html.DisplayNameFor(e => e.salary)</th>
            <th>@Html.DisplayNameFor(e => e.Email)</th>
            <th>@Html.DisplayNameFor(e => e.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(e => e.EmployeeType)</th>
            <th>@Html.DisplayNameFor(e => e.Gender)</th>
            <th>@Html.DisplayNameFor(e => e.DepartmentID)</th>
            <th>@Html.DisplayNameFor(e => e.DepartmentName)</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    <partial name="Partial/_searchingEmp" model="@Model" />
    </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h4>There is No Employee :(</h4>
    </div>
}
